{# example usage #}
<div class="map-wrapper w-100" style="aspect-ratio: 16/9.2 auto;">
    {% include '@CmsBundle/geography/cz-region-map.html.twig' with {'path_fill_color': '#b3b3b3', 'stroke': 'thin', 'urls': [], 'active_path': ''} %}
</div>
