<div class="navbar-brand mb-10" style="width: 8rem;">
    <a href="{{ path('homepage') }}">
        <img src="{{ asset(logo_path, 'img') }}"
             alt="{{ 'general.service_name'|trans }}"
             class="navbar-brand-logo w-100">
    </a>
</div>
