{% macro icon_placeholder_50px(icon) %}
    <div class="bg-gray-200 w-50px h-50px rounded-circle d-flex align-items-center justify-content-center">
        <i class="{{ icon }} fs-2x"></i>
    </div>
{% endmacro %}

{% macro icon_symbol_50px(icon) %}
    <div class="symbol symbol-50px">
        <div class="symbol-label bg-light-primary">
            <i class="{{ icon }} fs-2 text-primary"></i>
        </div>
    </div>
{% endmacro %}
