<label class="form-check form-switch form-switch-sm form-check-custom form-check-solid">
    <!--begin::Input-->
    <input class="form-check-input" name="google" type="checkbox" value="1" id="kt_modal_connected_accounts_google" checked="checked">
    <!--end::Input-->

    <!--begin::Label-->
    <span class="form-check-label fw-semibold text-muted" for="kt_modal_connected_accounts_google"></span>
    <!--end::Label-->
</label>
