{% macro card_header(title, theme, toolbar) %}
    <div class="{{ theme.default.card_header_class }}">
        <div class="card-title">
            <h2>
                {{ title }}
            </h2>
        </div>

        <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
            {{ toolbar|default('')|raw }}
        </div>
    </div>
{% endmacro %}

{% macro section_header(title) %}
    <div class="row">
        <div class="col-12">
            <h3 class="mb-4 mt-8">{{ title }}</h3>
        </div>
    </div>
{% endmacro %}
